@model IEnumerable<InternetBankLemonade.Models.Services>
@{
    ViewBag.Title = "Оплата";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Оплата</h2>
<script src="~/Scripts/jquery-1.12.4.min.js"></script>

<div class="container">
    <div class="col-md-12">
        <div class="row">
            

                
            
            <form class="form-horizontal" id="submitForm" action="~/Payment/Send" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label">Сумма (BYN)</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" autocomplete="off" required name="MoneyAmount" type="number" min="0.1" max="1000" step="0.1" id="money" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">Введите сессионный ключ # @Session["KeyNumber"].ToString()</label>
                        <input class="form-control" autocomplete="off" required maxlength="15" type="password" name="SessionKey" />
                    </div>

                </div>

                <label class="control-label">Добавить в Автооплату</label>
                @Html.CheckBox("AutoPayCheckbox", false)
                <input class="btn btn-primary" id="submitBtn" type="submit" value="Отправить"/>
            </form>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#submitForm").submit(function () {
            $("#submitBtn").attr("disabled", true);
            return true;
        });

    });
</script>